*__pycache__
*.DS_Store
*.ipynb_checkpoints
*.db
user_settings*
local_settings.py
magi_2_user_settings.py
*.pyc
Icon

data/delta_mass/
tests/full_workflow_test/test_output_files/
*nohup*
*testlog*
workflow/database/
workflow/blastbin/blastp*
workflow/blastbin/makeblastdb*
outputs/

workflow_2/tests/output*
workflow_2/database/
.vscode/*
